
<h1>{{title}}</h1>

<form action="/assignbook" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Bookname</label>
    <input type="text" name="Bookname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:700px">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">BookTopic</label>
    <input type="text" name="Booktopic" class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1">Category</label>
    <input type="text" name="category"class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1">Bookauthor</label>
    <input type="text" name="Bookauthor" class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">BookRating</label>
    <input type="number" name="Bookrating"class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">NumberofPages</label>
    <input type="text" name="NumberofPages" class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>

   <div class="form-group">
    <label for="exampleInputPassword1">IssueDate</label>
    <input type="date" name="IssueDate" class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>