<h1>{{title}}</h1>

<form action="/postuser" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:700px">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Qualification</label>
    <input type="text" name="Qualification" class="form-control" id="exampleInputPassword1"style="width:700px">
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1">Usermail</label>
    <input type="text" name="Useremail" class="form-control" id="exampleInputPassword1"style="width:700px">
  </div>
 
 
  <div class="form-group">
    <label for="exampleInputPassword1">Phoneno</label>
    <input type="number" name="Phoneno" class="form-control" id="exampleInputPassword1"style="width:700px">
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">fine</label>
    <input type="number" name="fine" class="form-control" id="exampleInputPassword1"style="width:700px" value=0 readonly>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>