<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</head>
<style>
  .new4{
  background-color:white ;
  opacity:inherit;
  width:1200px;
  margin-left:100px;
  margin-top:10px;
  border-radius: 25px;
  }
 @media only screen and (max-width: 600px) {


.new4{
  width:500px;
    background-color:white ;
margin-left:20px;
  margin-top:10px;
  text-align:center;
  padding-right: 20px;
    border-radius: 25px;

 
}
 }


  body{
  background-image:url("https://images.unsplash.com/photo-1608099269227-82de5da1e4a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGxpYnJhcnklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");

  }
</style>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Allusers</a>
      </li>
   
      
      <li class="nav-item">
        <a class="nav-link" href="/Books">books</a>
      </li>
    
       <li class="nav-item">
        <a class="nav-link" href="/addbookauth">addbook</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/createuserauth">Createuser</a>
      </li>
      
    </ul>
  </div>
</nav>
      <div id="mybody">





           {{{body}}}
    </div>
    <!--Container Main end-->
 
</body>
</html>