


<h1>Update your fine</h1>

<form action="/payfine" method="POST">
  <div class="form-group">
    <label for="exampleInuutEmail1">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:700px" value="{{user.username}}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Userid</label>
    <input type="text" name="userid" class="form-control" id="exampleInputPassword1" style="width:700px"  value="{{user._id}}">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1"> Total fine</label>
    <input type="number" name="fine"class="form-control" id="exampleInputPassword1" style="width:700px" value={{user.fine}}>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Fine to be cleard</label>
    <input type="number" name="paidfine"class="form-control" id="exampleInputPassword1" style="width:700px">
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>